*{
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
}
body{
    background-color: #dbd1ea;
    margin:0;
}
form{
    display:flex;
    flex-direction: column;
    width: 30vw;
    height: 45vh;
    margin:auto;
    align-items: center;
    border: 3px solid #80B3FF;
    background-color: #B6FFFA;
    border-radius: 15%;
    box-sizing: content-box;
    -webkit-box-shadow: 22px 22px 21px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 22px 22px 21px 0px rgba(66, 68, 90, 1);
    box-shadow: 22px 22px 21px 0px rgba(66, 68, 90, 1);
}
select, label, input, button{
    margin:6px;
}
h1{
    font-size: 2rem;
    font-weight: 600;
    background-image: linear-gradient(to left,rgb(21, 148, 152), blue , green );
    color:transparent;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5px rgb(228, 155, 237);
}
main{
    height: 100vh;
    width: 100vw;
    align-items: center;
    vertical-align: middle;
    display: flex;
}
#submit {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 5vh;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 1.2rem;
}

#submit:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#submit:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#submit:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
#current-date{
  width: 80%;
  text-align: center;
}